#contactpage{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}
.contactpageTitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.contactDesc{
    font-size: medium;
    font-weight: 300;
    padding: 1rem;
}
.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 90vw;
    max-width: 60rem;
}
.email, .name, .message{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(40,40,40);
}
.submitbtn{
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 3.5rem;
    background-color: white;
    font-weight: 600;
    margin: 2rem;
    cursor: pointer;
}
.submitbtn:hover{
    background-color: rgb(60,60,60);
    color: white;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    cursor: pointer;
}
.link:hover{
    color: yellow;
}
.snackbar{
    position: absolute;
    left: 50%;
    bottom: 15rem;
    transform: translate(-50%,-50%);
}
