.heading{
    flex-direction: row;
    display: none;
}
.heading1{
    font-family: "Playfair Display SC", serif;
    font-weight: 900;
    color: gold;
    font-size: 2rem;
}
.heading2{
    margin-top: 0.8rem;
    font-weight: 400;
}
.navbar{
    background-color: rgb(30,30,30);
    height: 5rem;
    width:100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
}
.navListItem{
    margin: 1rem;
    cursor: pointer;
}
.navListItem:hover{
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
}
.desktopMenuImg{
    object-fit: cover;
    font-size: 20px;
    margin-right: 1rem;
}
.desktopMenubtn{
    color: black;
    font-weight: bolder;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem 1rem;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.logo{
    width: 70px;
    margin: 1rem;
}
.active{
    color: yellow;
}
@media screen and (max-width:440px) {
    .logo{
        width: 50px;
        margin: 0.2rem;
    }
    
}
.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(40,40,40);
    border-radius: 1rem;
}
.listItem{
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background-color: rgb(30,30,30);
}
.listItem:hover{
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
}
.mobMenu{
    display: none;
    color: yellow;
    object-fit: cover;
    font-size: 1.5rem;
}
@media screen and (max-width:720px) {
    .heading{
        display: flex;
    }
    .mobMenu{
        display: flex;
    }
    .navList{
        display: none;
    }
    .desktopMenubtn{
        display: none;
    }
}